.LoginBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;

  gap: 5px;
}

.SignupLink {
  padding: 0px 5px;
  font-weight: 550;
  text-decoration: none;
}

.SignupText {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.LoginBackground {
  background-image: url("../img/PCLogin_Img.png");
  background-position: center;
  background-size: cover;
}

.FormLoginBox {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}

.FormLoginBox:focus {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.LoginButton {
  margin-top: 15px;
}

/**********************************************************************************************/

.MobileLoginBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.MobileLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  gap: 5px;
}

.SignupLink {
  padding: 0px 5px;
  font-weight: 550;
  text-decoration: none;
}

.MobileSignupText {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.MobileLoginBackground {
  background-image: url("../img/MobileLogin.png");
  background-position: center;
  background-size: cover;
}

.FormLoginBox {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}

.FormLoginBox:focus {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.LoginButton {
  margin-top: 15px;
}
