.MobileVotePointContainer {
  border: 2px solid #1f3c88;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 15px;
  margin: 45px 0 20px;
}

.MobileVotePointTitle {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
}

.MobileVoteTitle {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #808080;
}

.MobileVotePointLogoImg {
  margin: 20px 30px;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}
