.VoteButton {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 13px 15px 10px;
  font-family: "Noto Sans KR";
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
}

.VoteTeamNameTitle {
  font-size: 100px;
  font-weight: 700;
  color: white;
}
/*X*/
.TeamContainer {
  position: relative;
}

.VotedFlag {
  position: absolute;
}

/*                   */

.MobileVoteTeamNameTitle {
  font-size: 45px;
  font-weight: 700;
  color: white;
}

.MobileVotedFlag {
  position: absolute;
  width: 100%;
}
