.PcMainSwipeContainer {
  border-radius: 30px;
  margin: 30px;
  margin-left: 430px;
  margin-right: 130px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
  font-family: "Noto Sans KR";
  grid-row: 1/4;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.PcMainSwipeContainer:hover {
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.18);
  transition: box-shadow 0.5s;
}

.PcMainSwipeContainer:active {
  scale: 1.005;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
}

.swipeImg {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.swipeBackground {
  background-size: cover;
  background-position: center;
}
