.PCMedalImg {
  width: 100px;
}

.TopRankContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.PCTopRankTitle {
  font-size: 20px;
  font-weight: 700;
}

.PCTopRankPoint {
  font-size: 20px;
  font-weight: 700;
  color: #808080;
}

/**/

.MobileMedalImg {
  width: 50px;
}

.MobileTopRankTitle {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.MobileTopRankPoint {
  font-size: 15px;
  font-weight: 700;
  color: #808080;
}
