.VotePointContainer {
  border: 3px solid;
  border-radius: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}
