.VoteBox {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 40px;
}

.VoteButtonBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 150px;
}

.VoteOnBoxWithInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*                        */

.MobileVoteButtonBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 80px;
}

.MobileVoteBox {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}
